.commentCard{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 5px 8px lightgrey;
    padding: 10px;
    margin: 10px 0;
}
.comment{
    margin-top: 10px;
    word-wrap: break-word;
}
.date{
    font-size: 14px;
    opacity: 0.5;
    margin: 0 5px;
}